:root {
    --color-primary: hsl(300, 43%, 22%);
    --color-bg-rating: hsl(300, 24%, 96%);
    --color-verified: hsl(333, 80%, 67%);
    --color-featured: hsl(303, 10%, 53%);
    --color-text-card: hsl(0, 0%, 100%);
}
